body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
   display: flex;
   align-items: center;
   min-height: 80vh;
   padding: 0px;
}
.container > * {
    text-align: left; /* 文本内部左对齐 */
    padding-left: 200px; /* 添加左边距以确保文本稍微偏左 */
}
.project {
    margin-bottom: 20px; /* 在项目之间添加一些间距 */
}

.project p {
    display: inline-block;
    vertical-align: top; /* 确保文本顶部与图片对齐 */
    width: 60%; /* 根据需要调整宽度 */
}

.project img {
    max-width: 38%; /* 图片最大宽度 */
    height: auto; /* 保持图片原始比例 */
    display: inline-block;
    vertical-align: top; /* 确保图片顶部与文本对齐 */
    margin-left: 2%; /* 在文本和图片之间添加一点空间 */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}